<form class="form" (submit)="onSubmit()" [formGroup]="formGroup">
  <div class="sub-form">
    <div class="header-text">
      <h1>Entrar na conta</h1>
      <p>Entra na sua conta e sincronize seus dados</p>
    </div>
    <p-inputGroup class="email-group">
      <p-inputgroup-addon>
        <i class="pi pi-envelope"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="in">
        <input formControlName="email" pInputText id="on_label_email" type="email" />
        <label for="on_label_email">Seu e-mail profissional</label>
      </p-floatlabel>
    </p-inputGroup>

    <small>
      @if (
        formGroup.get('email')?.invalid &&
        (formGroup.get('email')?.dirty || formGroup.get('email')?.touched)
      ) {
        @if (formGroup.get('email')?.hasError('required')) {
          <span class="invalid-input">O e-mail é obrigatório.</span>
        } @else if (formGroup.get('email')?.hasError('email')) {
          <span class="invalid-input">Por favor, insira um e-mail válido.</span>
        }
      }
    </small>

    <p-inputgroup class="password-group">
      <p-inputgroup-addon>
        <i class="pi pi-lock"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="in">
        <p-password
          formControlName="password"
          type="password"
          [toggleMask]="true"
          [feedback]="false"
          label="in_label_password"
        ></p-password>
        <label for="in_label_password">Sua senha secreta</label>
      </p-floatlabel>
    </p-inputgroup>
    @if (
      formGroup.get('password')?.invalid &&
      (formGroup.get('password')?.dirty || formGroup.get('password')?.touched)
    ) {
      @if (formGroup.get('password')?.hasError('required')) {
        <span class="invalid-input">Senha é obrigatório</span>
      } 
    }
    <div class="submit-group">
      <p-button
        class="submit-button"
        type="submit"
        [disabled]="formGroup.invalid"
        label="Entrar"
      ></p-button>
      <span
        >Não tem uma conta?
        <a class="router-link-button" routerLink="/register">Cadastra-se aqui</a></span
      >
    </div>
  </div>
</form>
